<header>スケジュール管理アプリ</header>
<p>スケジュール詳細</p>

<div><%= @post.title %></div>

<div><%= link_to "編集", [:edit,@post] %></div>

<table>

  <tr>
    <th>開始日</th>
    <td><%= @post.start_date.to_s(:datetime_jp_2) %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @post.end_date.to_s(:datetime_jp_2) %></td>
  </tr>

  <tr>
    <th>終日</th>
    <td><%= @post.all_day ? '○' : ''  %></td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @post.schedule_memo %></td>
  </tr>

</table>